/* ===========================
   General
=========================== */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f2e8;
}

/* Temple Section */

section:first-child {
    background: #f6f2e8;
    padding: 70px 0;
}

/* Title */

h2 {
    color: #222;
    font-weight: 700;
    letter-spacing: .5px;
}

/* ===========================
   Cards
=========================== */

.grid>div {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
    transition: .35s;
}

.grid>div:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
}

/* Image */

.grid img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: .5s;
}

.grid>div:hover img {
    transform: scale(1.08);
}

/* Content */

.grid h5 {
    font-size: 20px;
    color: #222;
    margin-bottom: 10px;
}

.grid p {
    color: #666;
    line-height: 1.6;
    font-size: 15px;
}

/* Button */

.grid a {
    display: inline-block;
    text-decoration: none;
    background: #d4a017;
    color: #fff;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 14px;
    transition: .3s;
}

.grid a:hover {
    background: #b8860b;
}

/* card */
.card p {
    min-height: 70px;
}

/* ===========================
   Map Section
=========================== */

section:last-child {
    background: #fff;
    padding: 80px 0;
}

section:last-child h2 {
    text-align: center;
    margin-bottom: 40px;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
}

/* 
   Responsive
 */

@media(max-width:768px) {

    .grid {
        gap: 20px;
    }

    .grid img {
        height: 200px;
    }

    h2 {
        font-size: 28px;
    }

    iframe {
        height: 350px;
    }
}